---
import { siteMeta, navItems } from '../../config/siteContent';
---

<header class="site-header" role="banner">
  <div class="container">
    <a class="site-title" href="/">{siteMeta.name}</a>
    <nav class="site-nav" aria-label="Primary">
      {
        navItems.map((item) =>
          'disabled' in item && item.disabled ? (
            <span class="is-disabled" title="Repository coming soon">
              {item.label}
            </span>
          ) : (
            <a href={item.href}>{item.label}</a>
          ),
        )
      }
    </nav>
  </div>
</header>
